<!-- BANNER: Start Hero Section -->
<banner>
    <h1 class="banner-heading">About Us</h1>
    <div class="banner-description">
        <p class="mb-4">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters
        </p>
    </div>
    <div class="banner-buttons">
        <p>
            <a routerLink="shop" class="btn btn-secondary me-2">Shop Now</a
            ><a routerLink="contact" class="btn btn-white-outline">Explore</a>
        </p>
    </div>
    <div class="banner-image">
        <div class="hero-img-wrap">
            <img src="../../assets/images/couch.png" class="img-fluid" />
        </div>
    </div>
</banner>
<!-- BANNER: End Hero Section -->
<!-- Testimonial -->
<testimonials></testimonials>
