<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <ng-content select=".banner-heading"></ng-content>
                    <ng-content select=".banner-description"></ng-content>
                    <ng-content select=".banner-buttons"></ng-content>
                </div>
            </div>
            <div class="col-lg-7">
                <ng-content select=".banner-image"></ng-content>
            </div>
        </div>
    </div>
</div>
