<!-- BANNER: Start Hero Section -->
<banner>
    <h1 class="banner-heading">Services</h1>
    <div class="banner-description">
        <p class="mb-4">
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old.
        </p>
    </div>
    <div class="banner-buttons">
        <p>
            <a routerLink="shop" class="btn btn-secondary me-2">Shop Now</a
            ><a routerLink="contact" class="btn btn-white-outline">Explore</a>
        </p>
    </div>
    <div class="banner-image">
        <div class="hero-img-wrap">
            <img src="../../assets/images/couch.png" class="img-fluid" />
        </div>
    </div>
</banner>
<!-- BANNER: End Hero Section -->
<!-- Testimonial -->
<testimonials></testimonials>
