<!-- BANNER: Start Hero Section -->
<banner>
    <ng-container class="banner-heading">
        <h1>Blog</h1>
    </ng-container>
    <ng-container class="banner-description">
        <p class="mb-4">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour.
        </p>
    </ng-container>
    <ng-container class="banner-buttons">
        <p>
            <a routerLink="shop" class="btn btn-secondary me-2">Shop Now</a
            ><a routerLink="contact" class="btn btn-white-outline">Explore</a>
        </p>
    </ng-container>
    <ng-container class="banner-image">
        <div class="hero-img-wrap">
            <img src="../../assets/images/couch.png" class="img-fluid" />
        </div>
    </ng-container>
</banner>
<!-- BANNER: End Hero Section -->
<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">
        <div class="row" *ngIf="posts">
            <div
                *ngFor="let post of posts"
                class="col-12 col-sm-6 col-md-4 mb-5"
            >
                <div class="post-entry">
                    <a routerLink="{{ post.id }}" class="post-thumbnail">
                        <img
                            [src]="post?.imageUrl"
                            alt="Image"
                            class="img-fluid"
                        />
                    </a>
                    <div class="post-content-entry">
                        <h3>
                            <a routerLink="{{ post.id }}">{{ post.title }}</a>
                        </h3>
                        <div class="meta">
                            <span>
                                by
                                <a href="javascript:void();">{{
                                    post.writer
                                }}</a>
                            </span>
                            <span>
                                on
                                <a href="javascript:void();">{{
                                    post.date | date
                                }}</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonial -->
    <testimonials></testimonials>
</div>
<!-- End Blog Section -->
